$col_1: #074358;
$col_2: #458985;
$col_3: #D7D6A5;
$col_4: #DBA67B;
$col_5: #A55C55;

$col_3_light: lighten($col_3, 15%);

/* CSS FOR ALL */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body, h1, h2, p {
    margin: 0;
}

a {
    color: $col_4;

    &.term {
        color: $col_1;
    }

    &:hover {
        color: $col_2;
    }
}


/* CSS FOR HEADER */
header {
    margin: 0 5%;

    h1.heading {
        color: $col_1;
        font-size: 1.8em;
        margin: 20px 0 0 0;
    }
    
    h2.subheading {
        color: $col_2;
        font-size: 1em;
        margin: 0 0 5px 0;
    }

    nav {
        background-color: $col_1;
    
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
    
            li {
                display: block;
                padding: .7em -0;
                text-align: center;
            }
            
            li:hover {
                background-color: $col_2;
            }
    
            a {
                color: $col_3_light;
                text-decoration: none;
            }
    
            a:hover {
                color: $col_3_light;
            }
        }

        @media (min-width: 800px) {
            ul {
                li {
                    display: inline-block;
                    padding: .7em 1em;
                }
            } 
        }
    }
}

/* CSS FOR CONTENT */
#content {
    color: black;
    font-size: 1.2rem;
    line-height: 1.4;
    margin: 0 12.5%;

    h1 {
        border-bottom: 4px solid $col_1;
        color: $col_1;
        font-size: 1.8em;
        margin: .8em 0;
    }

    h2 {
        color: $col_5;
        font-size: 1.4em;
        margin: .8em 0;
    }

    p {
        margin: 1em 0;
    }

    blockquote {
        font-size: .9em;
        margin: 1em 5%;
    }

    #glossary {
        dt {
            color: $col_5;
            font-size: 1.2em;
        }
    
        dd {
            background-color: $col_3_light;
            border-left: .5em solid $col_2;
            border-radius: 8px;
            margin: 0 0 1em 0;
            padding: .25em .5em;
        }
    }

    .favorite-photographers {
        list-style: upper-roman;
    }

    .image-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        padding: 1em .5em;
        border: 2px solid $col_1;
        
        figure {
            margin: .5em .5em;
            max-width: 100%;
            
            img {
                max-width: 100%;
                max-height: 300px;
            }

            figcaption {
                margin-top:.5em;
                caption-side: bottom;
                color: desaturate($col_1, 50%);
                max-width: 100%;
                text-align: center;
                font-size: .7em;
            }

            @media (min-width: 800px) {
                max-width: 45%;

                figcaption {
                    font-size: .9em;
                }
            }

            @media (min-width: 1200px) {
                max-width: 30%;
            }

            &:only-child,
            &:first-child:nth-last-child(2),
            &:first-child:nth-last-child(2) ~ figure {
                @media (min-width: 1200px) {
                    max-width: 45%;
                }
            }
        }

    }
}

/* CSS FOR FOOTER */
footer {
    background-color: $col_1;
    color: $col_3_light;
    left: 0;
    padding: 2em 0;
    text-align: center;
    top: 100%;

    a {
        color: $col_3_light;
    }

    span {
        margin: 0 1em;
    }
}

@media (max-width: 800px) {

}

@media (max-width: 600px) {

}