
$col_1: #F49F05;
$col_2: #37333F;
$col_3: #02578F;
$col_4: #DBA67B;
$col_5: #A55C55;

$col_1_desaturate: desaturate($col_1, 50%);
$col_3_light: lighten($col_3, 15%);

// Includes
@import './components/hover_slide';
@import './components/form';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Serif|Courgette');

/* CSS FOR ALL */
* {
    box-sizing: border-box;
}

html {
    @media screen and (min-width: 1801px) {
        font-size: 24px;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
}

body, h1, h2, p {
    margin: 0;
}

a {
    color: $col_4;

    &:hover {
        background-color: $col_3;
    }
}

audio {
    min-width: 50%;
    max-width: 100%;
}

#wrapper {
    max-width: 90%;
    margin: 0 auto;
}


/* CSS FOR HEADER */
header {
    .title {
        font-family: 'Courgette';
        font-size: 2em;
        color: $col_2;
        margin: 2%;
    }

    nav {
        
        @media screen and (min-width: 801px) {
            background-color: $col_1;
            border-radius: 1.5em;
            padding: 0 1em;
        }
    
        a {
            background-color: $col_1;
            border-radius: 2em;
            color: white;
            display: block;
            padding: .6em 0;
            margin-bottom: .5em;
            text-align: center;
            text-decoration: none;
            
            &:hover {
                color: white;
            }
            
            &.active {
                background-color: $col_2;
            }
            
            @media screen and (min-width: 801px) {
                border-radius: initial;
                display: inline-block;
                margin-bottom: 0;
                padding: .6em 1em;
                vertical-align: top;
            }
        }
    }
}
    
    

/* CSS FOR CONTENT */
#content {
    color: black;
    font-size: 1.2rem;
    line-height: 1.4;
    margin: 0 auto;
    max-width: 100%;
    
    @media screen and (min-width: 600px) {
        max-width: 70%;
    }

    h1 {
        color: $col_1;
        font-size: 1.8em;
        margin: .8em 0;
    }

    h2 {
        color: $col_5;
        font-size: 1.4em;
        margin: .8em 0;
    }

    p {
        margin: 1em 0;
    }

    blockquote {
        font-size: .9em;
        margin: 1em 5%;
    }

    #destinations {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        @media screen and (min-width: 600px) and (max-width: 1400px) {
            margin: 0 -10%;
        }

        .image-single {
            margin-bottom: 1em;

            @media screen and (min-width: 600px) {
                max-width: 48%;
            }

            img {
                border: solid .5em $col_2;
            }

            figcaption {
                span.location {
                    font-size: 1.1em;
                }
                span.year {
                    letter-spacing: .2em;
                    font-weight: 700;
                }
            }
        }
    }

    .image-single {
        margin: .2em;
        max-width: 100%;
        
        img {
            width: 300px;
            max-width: 100%;
        }

        figcaption {
            max-width: 100%;
            text-align: center;
            font-size: .7em;

            span {
                display: block;
            }
        }
    }

    // .image-single {
    //     display: inline-block;
    //     margin: .2em;

    //     img {
    //         max-width: 100%;
    //         max-height: 300px;
    //     }

    //     figcaption {
    //         color: $col_1_desaturate;
    //         max-width: 100%;
    //         text-align: center;
    //         font-size: .7em;
    
    //         @media screen and (min-width: 801px) {
    //             font-size: .9em;
    //         }
    //     }
    // }

    .image-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        padding: 1em .5em;
        border: 2px solid $col_1;
        
        figure {
            margin: .5em .5em;
            max-width: 100%;
            
            &:only-child,
            &:first-child:nth-last-child(2),
            &:first-child:nth-last-child(2) ~ figure {
                @media screen and (min-width: 1200px) {
                    max-width: 45%;
                }
            }

            @media screen and (min-width: 801px) {
                max-width: 45%;
            }

            @media screen and (min-width: 1200px) {
                max-width: 30%;
            }
        }
    }

    .pic-of-me {
        float: right;
        max-width: 40%;

        img {
            max-height: 200px;
        }

        @media screen and (min-width: 801px) {
            max-width: 25%;
        }
    }

    .map-details {
        font-size: .7em;
    }

    .iframe-container {
        height: 200px;
        position: relative;
        width: 100%;

        @media screen and (min-width: 600px) {
            min-width: 60%;
            max-width: 80%;
            height: 300px;
        }


        iframe {
            border: 0;
            bottom: 0;
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
        }
    }

    #basic-color-emotions {
        margin: 1em auto;
        max-width: 90%;
        border-collapse: collapse;
        font-size: .9em;

        @media screen and (min-width: 801px) {
            font-size: 1em;
        }
        
        tr {
            padding: .5em 0;

            th {
                color: $col_1;
            }

            %color-box {
                @media screen and (min-width: 600px) {
                    border-radius: .5em;
                    content: '';
                    display: inline-block;
                    height: .5em;
                    width: .5em;
                    position: relative;
                    margin-right: .5em
                }
            }
            
            th, td {
                text-align: left;
                padding: .2em 1em;

                &:nth-child(1) {
                    padding-right: 1.5em;
                }

                $colors: (
                    white: white,
                    ivory: #ECF0F1,
                    red: #F22613,
                    orange: #F9690E,
                    yellow: #F4D03F,
                    brown: #87421F,
                    grey: #ABB7B7,
                    green: #26A65B,
                    purple: #763568,
                    blue: #1F4788,
                    black: black
                );

                @each $c_name, $c_vis in $colors {
                    &.color-box.#{$c_name}:before {
                        @extend %color-box;
                        background-color: $c_vis;
                    }
                }
            }

            &:nth-child(even) {
                background-color: $col_3_light;
            }

            &:hover {
                background-color: lighten($col_2, 30%);
            }
        }
    }
}

/* CSS FOR FOOTER */
footer {
    background-color: $col_1;
    // border-radius: 2em;
    color: white;
    left: 0;
    padding: 1em 0;
    text-align: center;
    top: 100%;

    a {
        color: white;
    }

    span {
        margin: 0 1em;
    }
}