
$col_1: #074358;
$col_2: #458985;
$col_3: #D7D6A5;
$col_4: #DBA67B;
$col_5: #A55C55;

$col_1_desaturate: desaturate($col_1, 50%);
$col_3_light: lighten($col_3, 15%);

// Includes
@import './components/hover_slide';
@import './components/form';


/* CSS FOR ALL */
* {
    box-sizing: border-box;
}

html {
    @media screen and (min-width: 1801px) {
        font-size: 24px;
    }
}

body {
    background-image: url(../images/canvas.jpg);    
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body, h1, h2, p {
    margin: 0;
}

a {
    color: $col_4;
    
    &.term {
        color: $col_1;
    }
    
    &:hover {
        color: $col_2;
    }
}

#wrapper {
    background-color: white;
    box-shadow: -1px 1px 6px 1px #232323, -4px 4px 20px 3px #555;
    margin: 0;
    max-width: 100%;

    @media screen and (min-width: 600px) {
        max-width: 90%;
        margin: 2em auto;
    }
}


/* CSS FOR HEADER */
header {
    .top-bar {
        align-items: center;
        display: flex;

        .svg-camera {
            margin-left: 2%;
            max-width: 80px;
            width: 20%;
            
            @media screen and (min-width: 801px) {
                width: 10%;
            }
        }

        .title {
            margin: 1em 0 .5em 1em;

            h1.heading {
                color: $col_1;
                font-size: 2em;
            }
            
            h2.subheading {
                color: $col_2;
                font-size: 1.2em;
            }
        }
    }
    
    
    nav {
        background-color: $col_1;

        a {
            border-bottom: 2px solid $col_2;
            color: white;
            display: block;
            padding: .8em 0;
            text-align: center;
            text-decoration: none;
            
            &:hover {
                color: white;
            }
            
            @media screen and (min-width: 801px) {
                border: 0;
                display: inline-block;
                margin-bottom: 0;
                padding: .8em 2em;
                vertical-align: top;
            }
        }
        
    }
}

/* CSS FOR CONTENT */
#content {
    color: black;
    font-size: 1.2rem;
    line-height: 1.4;
    margin: 0 auto;
    max-width: 85%;

    h1 {
        border-bottom: 4px solid $col_1;
        color: $col_1;
        font-size: 1.8em;
        margin: .8em 0;
    }

    h2 {
        color: $col_5;
        font-size: 1.4em;
        margin: .8em 0;
    }

    p {
        margin: 1em 0;
    }

    blockquote {
        font-size: .9em;
        margin: 1em 5%;
    }

    #glossary {
        dt {
            color: $col_5;
            font-size: 1.2em;
        }
    
        dd {
            background-color: $col_3_light;
            border-left: .5em solid $col_2;
            border-radius: 8px;
            margin: 0 0 1em 0;
            padding: .25em .5em;
        }
    }

    .favorite-photographers {
        li {
            list-style-image: url(../images/png_torso.png);
        }
    }

    .list-icon-camera {
        li {
            list-style-image: url(../images/png_camera.png);
        }
    }

    .image-single {
        display: inline-block;
        margin: .5em;

        img {
            max-width: 100%;
            max-height: 300px;
        }

        figcaption {
            color: $col_1_desaturate;
            max-width: 100%;
            text-align: center;
            font-size: .7em;
    
            @media screen and (min-width: 801px) {
                font-size: .9em;
            }
        }
    }

    .image-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        padding: 1em .5em;
        border: 2px solid $col_1;
        
        figure {
            margin: .5em .5em;
            max-width: 100%;
            
            &:only-child,
            &:first-child:nth-last-child(2),
            &:first-child:nth-last-child(2) ~ figure {
                @media screen and (min-width: 1200px) {
                    max-width: 45%;
                }
            }

            @media screen and (min-width: 801px) {
                max-width: 45%;
            }

            @media screen and (min-width: 1200px) {
                max-width: 30%;
            }
        }
    }

    .pic-of-me {
        float: right;
        max-width: 40%;

        img {
            max-height: 200px;
        }

        @media screen and (min-width: 801px) {
            max-width: 25%;
        }
    }

    #basic-color-emotions {
        margin: 1em auto;
        max-width: 90%;
        border-collapse: collapse;
        font-size: .9em;

        @media screen and (min-width: 801px) {
            font-size: 1em;
        }
        
        tr {
            padding: .5em 0;

            th {
                color: $col_1;
            }

            %color-box {
                @media screen and (min-width: 600px) {
                    border-radius: .5em;
                    content: '';
                    display: inline-block;
                    height: .5em;
                    width: .5em;
                    position: relative;
                    margin-right: .5em
                }
            }
            
            th, td {
                text-align: left;
                padding: .2em 1em;

                &:nth-child(1) {
                    padding-right: 1.5em;
                }

                $colors: (
                    white: white,
                    ivory: #ECF0F1,
                    red: #F22613,
                    orange: #F9690E,
                    yellow: #F4D03F,
                    brown: #87421F,
                    grey: #ABB7B7,
                    green: #26A65B,
                    purple: #763568,
                    blue: #1F4788,
                    black: black
                );

                @each $c_name, $c_vis in $colors {
                    &.color-box.#{$c_name}:before {
                        @extend %color-box;
                        background-color: $c_vis;
                    }
                }
            }

            &:nth-child(even) {
                background-color: $col_3_light;
            }

            &:hover {
                background-color: lighten($col_2, 30%);
            }
        }
    }
}

/* CSS FOR FOOTER */
footer {
    background: linear-gradient(to right, darken($col_2, 10%), $col_1 70%);
    // background-color: $col_1;
    color: white;
    left: 0;
    padding: 2em 0;
    text-align: center;
    top: 100%;

    a {
        color: white;
    }

    span {
        margin: 0 1em;
    }
}