extends ../page.pug
include ../mixins/index.pug

block content
  - var principles = ['lines', 'shapes', 'value', 'color', 'texture', 'space', 'pattern', 'contrast', 'balance', 'scale', 'movement']

  h1 Design Principles
  ul.list-icon-camera
    each principle in principles
      li
        a(href=`#${principle}`)= principle.charAt(0) + principle.slice(1)

  h2(id='lines') Lines
  p.
    One point to another. Lines can divide space and unite space. Lines can be thick or thin, wavy, straight, or curved. One of the most important purposes of lines is to convey motion.
    Curved lines can be smooth, soft, elegant. Vertical lines can express power or strength. Vertical lines can express stability or rest. Diagonal lines can express motion and action.
  +image_row([
    {name: 'lines1.jpg', alt: 'Curved building', caption: 'These curved lines create motion and a sense of leisure'},
    {name: 'lines3.jpg', alt: 'Light show', caption: 'Diagonal lines have motion and intensity'}
  ])
    //- {name: 'lines2.jpg', alt: 'Pillars in water', caption: 'Vertical lines display power'},

  h2(id='shapes') Shapes
  p.
    Two dimensional element that allows us to identify it.
  +image_row([
    {name: 'shape1.jpg', alt: 'Architecture shot', caption: 'Building has a triangle shape'},
    {name: 'shape2.jpg', alt: 'Spiral staircase', caption: 'Staircase creates a spiral, or a circle'}
  ])

  h2(id='value') Value
  p.
    Light and darkness of an image with no regard to color. Highlights are the light parts and shadows the dark parts. To see value, look at an image in black and white. Good black and white images make use of value.
  +image_row([
    {name: 'value1.jpg', alt: 'Man in fog', caption: 'Drama of the image is created by its value'},
    {name: 'value2.jpg', alt: 'Steaming cup', caption: 'Elegant image made without color'}
  ])
      
  h2(id='color') Color
  p.
    Color is made up of value, hue, and saturation. Generally, you want colors that complement each other. Color theory is a complicated subject on how to choose your colors. Color even evokes different emotions depending on the culture of the viewer.
  table#basic-color-emotions
    tr
      th Color
      th What each color evokes
    tr
      td.color-box.white white
      td purity, cleanliness, virtue
    tr
      td.color-box.ivory ivory
      td calm, elegant, purity
    tr
      td.color-box.red red
      td passion, violence, love
    tr
      td.color-box.orange orange
      td energy, happiness, vitality
    tr
      td.color-box.yellow yellow
      td happiness, hope, deceit
    tr
      td.color-box.brown brown
      td nature, wholesome, dependability
    tr
      td.color-box.grey grey
      td moody, conservative, formality
    tr
      td.color-box.green green
      td new beginnings, nature, abundance
    tr
      td.color-box.purple purple
      td royalty, creativiy, wealth
    tr
      td.color-box.blue blue
      td sadness, despair, calmness, responsibility
    tr
      td.color-box.black black
      td mystery, elegance, evil

  +image_row([
    {name: 'color1.jpg', alt: 'Green and orange flowers', caption: 'Beauty is from the complementary colors'}
  ])

  h2(id='texture') Texture
  p.
    The texture of objects. Texture creates realism and can be used in different concepts. e.g. you might have smooth, curving gold lines to evoke elegance, and you might use rough stone in the background of a photo expressing anger.
  +image_row([
    {name: 'texture1.jpg', alt: 'Firework sparks', caption: 'Sparks have a vibrant texture'},
    {name: 'texture2.jpg', alt: 'Rolling ocean', caption: 'The water has a smooth, yet tumultuous, texture'}
  ])

  h2(id='space') Space
  p.
    There is positive space (space filled) and negative space (space empty). A common technique in photography is to line up the subject according to the rule of thirds. Think of split the image in three ways, horizontally and vertically. The subject of importance will fall on one of these lines or at the intersection.
  +image_row([
    {name: 'space1.jpg', alt: 'Tree in night', caption: 'Positive space at the bottom, negative space at the top'},
    {name: 'space2.jpg', alt: 'Fern on wood', caption: 'The space around the fern complements it'}
  ])

  h2(id='pattern') Pattern/Repetition
  p.
    Patterns are found in nature, and humans like to create their own patterns. A break in a pattern can lend extra focus to what's out of place.
  +image_row([
    {name: 'pattern1.jpg', alt: 'water ringlets', caption: 'Pattern of concentric circles'},
    {name: 'pattern2.jpg', alt: 'Stained glass window', caption: 'Repetition of shape and color from the center'}
  ])

  h2(id='contrast') Contrast
  p.
    Contrast is difference. Whether it be light and dark, positive space and negative space, complementary colors. Other examples of contrast are man/nature, male/female, order/chaos etc. The larger the difference, the larger the contrast.
  +image_row([
    {name: 'contrast1.jpg', alt: 'Contrasting scenes of war and peace', caption: 'Contrast between war and peace'}
  ])

  h2(id='balance') Balance
  p.
    There are three types of balance. Symmetrical - A mirror image, the image can be folded in half. Radial - The elements of an image equally surround a center point. Asymmetrical - neither symmetrical or radial.
  +image_row([
    {name: 'balance1.jpg', alt: 'Symmetrical castle', caption: 'Castle is symmetrical'},
    {name: 'balance2.jpg', alt: 'Apple keyboard design', caption: 'The items are asymmetrical'},
    {name: 'shape1.jpg', alt: 'Architecture shot', caption: 'Building is symmetrical'}
  ])

  h2(id='scale') Scale
  p.
    Scale is the size of an element compared to its surroundings. Some photographs distort the scale, making someone look larger than possible and so forth.
  +image_row([
    {name: 'scale1.jpg', alt: 'Man looking at starts', caption: 'Large difference between the scale of the man and space'}
  ])

  h2(id='movement') Movement
  p.
    Movement, is very important in photography. It's how the image causes the eye to travel. The eye will first look at what's bright, large, and detailed, and then it will track the different lines around the image.
  +image_row([
    {name: 'movement1.jpg', alt: 'Car light stream', caption: 'Car light stream leads the eye'},
    {name: 'movement2.jpg', alt: 'River through mountain', caption: 'River leads the eye through the scene'},
    {name: 'movement3.jpg', alt: 'Girl looking at sunset', caption: 'The girl\'s stare leads the eye to the sunset'}
  ])
