extends ../page.pug

block content
  h1 Exposure
  p.
    Exposure is the amount of light captured. It is determined by three settings, also known as the exposure triangle.
  ol
    li Aperture
    li Shutter Speed
    li ISO

  h2 Aperture
  p.
    Aperture is the size of the opening in the lens. It can be compared to the human pupil. A smaller opening will let in less light, and a larger opening will let in more light.
  p.
    Aperture is measured by a f-number (The f in f-number stands for the focal length of the lens, but you don't need to worry about that). Here it gets a little confusing. A smaller f-number is a larger opening in the lens, and A larger f-number is a smaller opening in the lens. In other words, A smaller f-number lets in more light and a larger f-number lets in less light.
  p.
    Specifically, every time you halve the f-number you get 4x the amount of light, and every time you double the f-number you get 4x less light.
  p.
    On your camera, Aperture will be controlled by f-stops. A stop is a change in light by double or half the amount. f-stops are stops controlled by the aperture. The typical f-stop pattern is:
  div.
     f/1, f/1.4, f/2, f/2.8, f/4, f/5.6, f/8, f/11, f/16, f/22, f/32, f/45, f/64, f/90, f/128
  p.
    We know halving the f-number will capture 4x the light. So if we move from f/5.6 to f/2.8 we get 4x the light. Moving from f/5.4 to f/4 is one stop or 2x the light.
  p.
    Many cameras may have the settings to change the aperture by half-stops. This will look like:
  div.
    f/1.4 f/1.7 f/2.0 f/2.4 f/2.8 f/3.3 f/4 f/4.8 f/5.6 f/6.7 f/8
  p.
    Here, f/2.8 to f/5.6 is still 4x less light and f/2.8 to f/4 is still 2x less light. Now, you have the option of f/2.8 to f/3.3 which will be 1.5x less light.
  p.
    The important thing to remember is a smaller f-number will capture more light and a larger f-number will capture less light.
  p.
    Aperture also affects depth of field. The field is where the image remains in focus. A shallow depth of field will cause the background to be blurry while a deep depth of field will cause the background to be crisp. A smaller f-number equals a shallower depth of field, and a larger f-number equals a deeper depth of field. Typically, portraits will use a small f-number (shallow depth of field) and landscapes will use a larger f-number (deeper depth of field). Be careful, the smaller the f-number the more difficult it is to line up the depth of field. For example, the nose of a person is in focus but their eyes are out of focus.

  h2 Shutter Speed
  p.
    Shutter speed is how long the shutter will remain open when a picture is shot. It can be compared to a person's eyelid. When the shutter is open, light can pass through; when the shutter is closed, no light can pass through. The longer the shutter is open the more light is captured.
  p.
    Every time you double the time the shutter is open, you will capture 2x the light. Moving from 1/400th of a second to 1/100th of a second will increase the light by 4x. The faster your shutter speed, time will stand still in your photo. For example, you can capture the individual water droplets in a spray of water. The longer your shutter speed, action will be blurred. You can make a waterfall look silky smooth or you can capture the movement of stars in the sky.
  p.
    Lenses that can have a larger aperture (smaller f-number) are sometimes known as fast lenses because these lenses can capture more light allowing for a shorter shutter speed.

  h2 ISO
  p.
    ISO is the sensitivity of the camera to light. The higher the ISO, the more light, and the lower the ISO, the less light. When you double the ISO, 400 to 800, you capture 2x the light. When you halve the ISO, 200 to 100, you capture 1x the light.
  p.
    Having a higher ISO comes with a cost. The higher the ISO the more noise or grain the image has. Of course, this may be a stylistic choice, but often you want the least amount of noise possible.
  p.
    Even if I want less noise, it is usually the least of my concerns. I will first pick the aperture and shutter speed I want and then choose the smallest ISO I can.