extends ../page.pug

append head
  h2 About

block content
  p.
    My name is Darien, and I created First Capture for my intro to web design class at UVU. I took a few photography classes in High School and I have been doing web development for several years.
  p.
   The goal of First Capture is to explain some of the basics in photography. I'm a #[em very] amateur photographer, but hopefully you can learn something if you are new to photography.