extends ../page.pug
include ../mixins/index.pug

block content
  h1 About
  p.
    My name is Darien, and I created First Capture for my intro to web design class at UVU. The goal of First Capture is to explain some of the basics in photography. I took a few photography classes in High School and I have been doing web development for several years. I'm a #[em very] amateur photographer, but hopefully you can learn something if you are new to photography.
  p.
    Even though I'm unskilled in photography, I love the medium of photography. It is simple compared to the complexities of painting or the complexities of film. I believe that anyone can find enjoyment and pleasure in photography, even if they aren't masters, they can still create art they are pleased with. My favorite form of photography is surreal photography.
  blockquote.
    Surreal photography has often been condoned as "fake" and "unimpressive" because of post-editing processes. Although, I agree that surreal photography requires less photographic skill -- I love how it is limitless. With surreal photography, any story, even the strange and alien of the human mind, can be told.
  br

  h2 Favorite Photographers
  p.
    Some of my favorite photographers
  ul.favorite-photographers
    li
      +link_external('http://www.mikkolagerstedt.com/galleries', 'Mikko Lagerstedt')
    li
      +link_external('http://www.oprisco.com/', 'Oleg Oprisco')
    li
      +link_external('https://www.flickr.com/photos/brookeshaden', 'Brooke Shaden')