extends ../page.pug

block content
  h1 Other
  h2 Video
  p.
    Here is a video on posing I have found very interesting.
  .iframe-container
    <iframe src="https://www.youtube.com/embed/kmi9TPQ57Mo" allowfullscreen></iframe>