doctype html
html
  head
    title First Capture

  body
    block head
      header
        h1 First Capture
    nav
      a(href='/pages/') About
      a(href='/pages/exposure.html') Exposure
      a(href='/pages/glossary.html') Glossary
    block content
    block foot
      footer
        | First Capture &copy; 2017 &bullet; Darien Hess &bullet;
        |
        a(href='mailto:admin@quixtor.com') Send Mail
