doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title First Capture
    link(rel='stylesheet' type='text/css' href=`${base_path}/css/index.css`)
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,400i,600')

  body
    // HEAD
    header
      block head
          h1.heading First Capture
          h2.subheading A place to start your photography
      nav
        ul
          each name, page in pages
            li
              a(href=`${base_path}/${page}.html`)= name

    // CONTENT
    #content
      block content

    // FOOT
    block foot
      footer
        span &copy; First Capture 2017
        | &bullet;
        span Darien Hess
        | &bullet;
        span
          a(href='mailto:admin@quixtor.com') Send Mail
