doctype html
html
  head
    title First Capture

  body
    // HEAD
    block head
        h1 First Capture
        h2 A place to start your photography
    nav
      ul
        each name, page in pages
          li
            a(href=`${base_path}/${page}.html`)= name

    // CONTENT
    block content

    // FOOT
    block foot
      footer
        | &copy; First Capture 2017 &bullet; Darien Hess &bullet;
        |
        a(href='mailto:admin@quixtor.com') Send Mail
